.tasklist {
    padding: 8px;
    background-color: #5797b9;
    border-radius: 2px;
}

.tasklist .titulo {
    padding: 4px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tasklist .conteudo {
    padding: 16px 4px;
    display: flex;
    flex-direction: column;
}

.tasklist .conteudo .empty-list {
    text-align: center;
    border: 1px dashed white;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 9px
}

.tasklist button {
    margin-top: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 3px;
    color: white;
    background: #00b8d4;
    align-items: center;
    transition: background-color 0.3s;
}

.tasklist button:hover {
    background-color: #0091a8;
    cursor: pointer;
}

.tasklist button img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}